<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1 {
background-color: rgb(239, 239, 247);
width: 100%; 
padding: 30px; 
margin: 0;

    }

</style>
<body>
    <center>
    <h1>
        <a href="/">visdomMotors</a>  
      </h1>
      </center>
      <h2>Edit <%= car.name %></h2>
      <form action="/cars/<%= car._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="description">Description:</label>
        <input type="text" name="description" id="descirption" />
        <label for="image">Image:</label>
        <input type="text" name="image" id="image">

        <button type="submit">Update Cars</button>

    </form>
    <a href="/cars">Back to Cars</a>
</body>
</html>